body {
  background: #2c2d30;
}
nav {
  /*outline: solid 1px;*/
  position: fixed;
  height: 10%;
  width: 100%;
  text-align: center;
  margin: 0;
  right: .19%;
  top: -.3%;
  padding: 1em 0;
  background: #2c2d30c0;
}
img {
  float: left;
  padding-left: 2em;
  padding-top: .15em;
}
menu {
  float: left;
  margin-left: 15%;
}
menu li {
  display: inline;
  padding-right: 3.5em;
}
menu a {
  text-decoration: none;
  color: white;
}
li span {
  font-weight: bold;
}
#download {
  float: right;
  margin-right: 2em;
  margin-top: .2em;
  background: #685cfa;
  color: #fff;
  height: 3em;
  width: 10em;
  border-radius: 2em;
  font-weight: bold;
}